<div class="banner">
  <div class="banner-content">
    <h2>World Class Library </br> For Trading </br> &  </br> Personal Wealth Management</h2>
  </div>
</div>

<h4 class="books-category"><strong>Trading</strong></h4>
<div class="scrollmenu">
  <div class="book-card">
    <% @books.where(category: 'trading').each do |book| %>
      <%=  link_to (image_tag book.photo)   , book_path(book) %>
    <% end %>
  </div>
</div>

<h4 class="books-category"><strong>Investing</strong></h4>
<div class="scrollmenu">
  <div class="book-card">
    <% @books.where(category: 'investing').each do |book| %>
      <%=  link_to (image_tag book.photo)   , book_path(book) %>
    <% end %>
  </div>
</div>

<h4 class="books-category"><strong>Business</strong></h4>
<div class="scrollmenu">
  <div class="book-card">
    <% @books.where(category: 'business').each do |book| %>
      <%=  link_to (image_tag book.photo)   , book_path(book) %>
    <% end %>
  </div>
</div>

<h4 class="books-category"><strong>Sociology</strong></h4>
<div class="scrollmenu">
  <div class="book-card">
    <% @books.where(category: 'sociology').each do |book| %>
      <%=  link_to (image_tag book.photo)   , book_path(book) %>
    <% end %>
  </div>
</div>

<h4 class="books-category"><strong>History</strong></h4>
<div class="scrollmenu">
  <div class="book-card">
    <% @books.where(category: 'history').each do |book| %>
      <%=  link_to (image_tag book.photo)   , book_path(book) %>
    <% end %>
  </div>
</div>

<h4 class="books-category"><strong>Economy</strong></h4>
<div class="scrollmenu">
  <div class="book-card">
    <% @books.where(category: 'economy').each do |book| %>
      <%=  link_to (image_tag book.photo)   , book_path(book) %>
    <% end %>
  </div>
</div>
<div class="white-bar"></div>


